<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>emporiqa</name>
    <displayName><![CDATA[Emporiqa]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Integrates PrestaShop with Emporiqa chat assistant.]]></description>
    <author><![CDATA[Emporiqa]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
